/* styles.css */
@media (max-width: 576px) {
    .card {
        padding: 1.5rem;
        width: 90%;
    }

    .form-control {
        font-size: 0.875rem;
    }

    .btn {
        font-size: 0.875rem;

    }
}